
body{
    /* font-family: monospace; */
    font-size: 1rem;
}
.heading{
    display: flex;
    justify-content: start;
    gap: 2rem;
}
.medicine-info, .pricing-info, .storage-info, .purchase-info, .other, .manufacturer-info{
    display: flex;
    flex-wrap: wrap; /*allows items to wrap to the next line*/
    justify-content: start;
    gap: 1rem; /* optional spacing */
}
img{
    width: 80px;
    height: 80px;
}
label{
    margin-right: 1.5rem;
    /* padding:20px; */
}
input{
   border-radius: 5px;
   border: none;
   box-shadow:0 2px 8px rgba(0, 0, 0, 0.2);
   margin: 0 1.5rem;
   width: 14rem;
   min-width: 150px;
   min-height: 1rem;
   height: 1.8rem;
   font-size: 1rem;
}

.card {
  background-color: hsl(0, 0%, 96%);     /* light gray background */
  padding: 1.5rem;               /* space inside the card */
  border-radius: 10px;           /* rounded corners */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* subtle shadow for elevation */
  margin: 1rem 0;                
}
.card-heading{
    margin: 0 0 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
}