@import "Sidenav.css";
@import "dashboard.css";

.layout {
  display: flex;
}

.content {
  display: flex;
  margin-left: 240px;
  background-color: #fdfdfe;
  width: 100%;
  height: 100vh;
}
.inventory,
.sales {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
